<app-navbar [ruta]="'juegos'" ></app-navbar>
<div class="container container-card">
    <div class="row">
        <div class="col-md-4 align-self-center">
            <div class="card" style="width: 18rem; height: 30rem;">
                <div class="card-header" style="height: 15rem;">
                <img src="../../../assets/img/games.svg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Ahorcado</h5>
                  <p class="card-text">adivina la palabra antes de ser ahorcado.</p>
                  <a (click)='ahorcado()' class="btn btn-danger">Acceder</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 align-self-center">
            <div class="card" style="width: 18rem; height: 30rem;">
                <div class="card-header" style="height: 15rem;">
                <img src="../../../assets/img/puntuaciones.svg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Mayor o menor</h5>
                  <p class="card-text">adivina si el siguiente numero es mayor o menor.</p>
                  <a (click)='mayorOMenor()' class="btn btn-danger">Acceder</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 align-self-center">
            
            <div class="card" style="width: 18rem; height: 30rem;">
                <div class="card-header" style="height: 15rem;">
                <img src="../../../assets/img/encuesta.svg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Encuesta</h5>
                  <p class="card-text">Resultado de encuestas.</p>
                  <a href="#" class="btn btn-danger">Acceder</a>
                </div>
              </div>
        </div>
    </div>
</div>