<div class="text-center base">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Quien soy</h3>
          </div>
        </header>
      
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Maximiliano vargas.</h1>
          <p class="lead">soy maximiliano vargas, estudiante de la UTN FRA, programador en globant.</p>
          <p class="lead">
            <a href="https://github.com/Shilua" class="btn btn-lg btn-secondary">github</a>
          </p>
          <p>
            <a (click)="home()" class="btn btn-lg btn-secondary">home</a>
          </p>
        </main>
      
        
      </div>
</div>
